.principal {
    min-height: 100vh;
    margin: 0% 1% 0% 1%;

}

.cidades-recomendadas {
    min-height: 400px;
    margin: 30px 20px 0px 20px;
    display: flex;
}

.card-cidades-recomendadas {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;
}

.item-cidades-recomendadas {
    display: flex;
    flex-direction: column;
    width: 330px;
    /*Largura minima*/
    height: 250px;
    border: 1px solid #cdcacad6;
    border-radius: 2%;
    text-align: center;
}

.item-cidades-recomendadas img {
    height: 150px;
    width: 100%
}

.item-cidades-recomendadas a {
    width: 100%;
}

/*Quando é passado o mouse em cima do link aplica as propriedades abaixo*/
.item-cidades-recomendadas a:hover {
    color: #000000;
    text-decoration: none;
}

.nome-cidades-recomendadas {
    margin: 10px;
    color: #42264D;
    font-weight: bold;
}
